@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto-Black'), url('src/assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: local('Roboto-BlackItalic'), url('src/assets/fonts/Roboto/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url('src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local('Roboto-BoldItalic'), url('src/assets/fonts/Roboto/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto-Italic'), url('src/assets/fonts/Roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url('src/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local('Roboto-LightItalic'), url('src/assets/fonts/Roboto/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), url('src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: local('Roboto-MediumItalic'), url('src/assets/fonts/Roboto/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url('src/assets/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: local('Roboto-ThinItalic'), url('src/assets/fonts/Roboto/Roboto-ThinItalic.ttf');
}
