@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('src/assets/fonts/MontserratMontserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@import url("/src/assets/fonts/Montserrat/montserrat.css");
@import url("/src/assets/fonts/Roboto/roboto.css");

@media screen and (min-width: 1080px) {
    #header_body {
        width: 100%;
        box-sizing: border-box;
        background: black;
    }

    #header {
        height: 106px;
        background: black;
        display: flex;
        width: 86%;
        margin: 0 auto;
    }

    #menu {
        background: black;
    }

    .brand_logo {
        align-self: center;
    }

    .brand_logo svg {
        width: 74px;
        padding-top: 10px;
    }

    .brand_name {
        font-family: 'Montserrat';
        font-weight: 600;
        color: #00FF70;
        margin: auto 0 auto 17px;
        font-style: normal;
        line-height: 24.38px;
    }

    .div_header {
        position: absolute;
        width: 1px;
        height: 38px;
        left: 326px;
        top: 35px;
        background: #00FF70;
    }

    .menu_items {
        display: flex;
        align-self: center;
        margin-left: 30px;
    }

    .menu_items li{
        padding-right: 50px;
        list-style-type: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #00FF70;
        cursor: pointer;
    }
}