* {
  box-sizing: border-box;
  outline: none;
}

@media screen and (min-width: 1080px) {
    #header_body {
        width: 100%;
        background: #1A1A1A;
    }

    #header {
        height: 106px;
        max-width: 1440px;
        width: 84.72222222222221vw;
        display: flex;
        margin: 0 auto;
    }

    #menu {
        background: #1A1A1A;
    }

    .brand_logo {
        align-self: center;
    }

    .brand_logo svg {
        max-width: 136px;
        width: 100%;
        padding-top: 1vw;
    }

    .brand_name {
        font-family: 'Montserrat-SemiBold';
        font-weight: 600;
        color: #00FF70;
        margin: auto 0 auto 1.1805555555555556vw;
        font-style: normal;
        line-height: 44px;
    }

    .div_header {
        width: 1px;
        height: 38px;
        background: #00FF70;
        align-self: center;
        margin-left: 27px;
        margin-right: 27px;
    }

    .menu_items {
        width: 100%;
        display: flex;
        align-self: center;
        padding: 0;
    }

    .menu_items li{
        padding-right: 50px;
        list-style-type: none;
        font-family: 'Montserrat-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #00FF70;
        cursor: pointer;
    }

    .header_menu_button {
        align-self: center;
        cursor: pointer;
    }

    .header_menu_button svg {
        width: 30px;
        height: 30px;
    }
}
