@media screen and (min-width: 1080px) {
    #footer_menu {
        width: 100%;
        margin: 0 auto;
        font-family: 'Roboto-Bold';
        font-size: 16px;
        display: flex;
        justify-content: center;
        color: #1A1A1A;
        background: #00FF70;
        align-items: center;
        height: 56px;
        font-weight: 800;
        line-height: 19px;
  }
}