<div id="contact_section">
    <div class="star_contact">
        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
            <g clip-path="url(#clip0_201_297)">
            <path d="M36.5 16.7474L51.6163 0L50.4674 22.5326L73 21.3792L56.2526 36.5L73 51.6163L50.4674 50.4674L51.6163 73L36.5 56.2526L21.3792 73L22.5326 50.4674L0 51.6163L16.7474 36.5L0 21.3792L22.5326 22.5326L21.3792 0L36.5 16.7474Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_201_297">
            <rect width="73" height="73" fill="white"/>
            </clipPath>
            </defs>
            </svg>
    </div>
    <div class="contact_text">
        <h1>Have a<br>project?<br>We would love<br>to help.</h1>
    </div>
    <div class="write_me_icon">
        <div class="overlap_write_me">
            Write Me!
        </div>
    </div>
    <div class="contact_form"></div>
    <div class="call_me_icon">Call me!</div>
    <div class="social_section">
        <div class="social_icons"></div>
    </div>
    <div class="div_contact"></div>
    <div class="map_contact"></div>
</div>