#body_contact {
    width: 100%;
    background-color: black;
    padding-top: 6vw;
}

#contact_section {
    width: 80%;
    display: flex;
    margin: 0 auto;
    background: black;
}

.contact_text {
    color: #00FF70;
}

.star_contact {
    left: 32vw;
    position: absolute;
}

.star_contact svg{
    width: 4vw;
}

.contact_text {
    width: 44.4vw;
    position: relative;
}

.contact_text h1 {
    font-weight: 800;
    font-size: 7vw;
    letter-spacing: 0;
}

.overlap_write_me {
    position: relative;
    left: -10vw;
    top: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlap_write_me svg {
    width: 9vw;
}

.write_me_icon span {
    position: absolute;
    color: black;
    font-size: 2.2vw;
    text-align: center;
}

.overlap_call_me {
    position: relative;
    left: -19vw;
    top: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlap_call_me svg {
    width: 9vw;
}

.call_me_icon span {
    position: absolute;
    color: black;
    font-size: 2.2vw;
    text-align: center;
    letter-spacing: 0;
}

.div_contact {
    background-color: white;
    display: flex;
    width: 200px;
    height: 200px;
}