@media screen and (min-width: 1080px) {
    #body_contact_size {
        box-sizing: border-box;
    }

    .body_contact {
        width: 100%;
        background-color: black;
    }

    #contact_section {
        width: 86%;
        display: flex;
        margin: 0 auto;
        background: black;
    }

    .star_contact {
        left: 461px;
        position: absolute;
        margin-top: 67px;
    }

    .star_contact svg{
        width: 73px;
    }

    .contact_text {
        width: 460px;
        position: relative;
        display: contents;
    }

    .contact_text h1 {
        font-weight: 800;
        font-size: 98px;
        letter-spacing: 0;
        color: #00FF70;
        line-height: 115px;
        font-family: 'Roboto';
        margin-top: 101.58px;
    }

    .overlap_write_me {
        left: -10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlap_write_me svg {
        width: 182px;
    }

    .write_me_icon {
        position: absolute;
        left: calc(7% + 490px);
        margin-top: 79.6px;
    }

    .write_me_icon span {
        position: absolute;
        color: black;
        font-size: 45px;
        text-align: center;
    }

    .overlap_call_me {
        left: -19vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overlap_call_me svg {
        width: 182px;
    }

    .call_me_icon {
        position: absolute;
        left: calc(7% + 490px);
        margin-top: 460.57px;
    }

    .call_me_icon span {
        position: absolute;
        color: black;
        font-size: 45px;
        text-align: center;
        letter-spacing: 0;
    }

    .div_contact {
        position: absolute;
        right: 7%;
        width: 515.36px;
        height: 573.4px;
        margin-top: 53.55px;
        background: #FFFFFF;
    }

    .contact_form_svg {
        position: absolute;
        right: 81px;
    }
}