@media screen and (min-width: 1080px) {
  #menu {
    box-sizing: border-box;
    background: black;
    display: none;
    transform: translateY(-100%);
    transition-timing-function: ease-in;
    transition: 20s;
  }

  #header_menu {
    height: 7.361111111111112vw;
    max-width: 1224px;
    width: 86%;
    display: flex;
    margin: 0 auto;
  }

  .brand_logo {
    align-self: center;
  }

  .brand_logo svg {
    width: 9.444444444444445vw;
    padding-top: 0.6944444444444444vw;
  }

  .brand_name {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    color: #00FF70;
    margin: auto 0 auto 1.1805555555555556vw;
    font-style: normal;
    line-height: 3.0243055555555554vw;
  }

  .header_menu_close_button {
    align-self: center;
    position: absolute;
    right: 7%;
    cursor: pointer;
  }

  .header_menu_close_button svg {
    width: 2.083333333333333vw;
    height: 1.3888888888888888vw;
  }

  .star_svg {
    margin-top: 3.0555555555555554vw;
    margin-left: 26.805555555555554vw;
  }

  .star_svg svg {
    align-items: end;
    min-width: 5.694444444444445vw;
  }

  .menu_items {
    display: flex;
    margin: -20px auto auto auto;
    max-width: 1224px;

    top: 0;
  }

  .menu_items ul {
    width: 100%;
    padding: 0;
  }

  .menu_items ul li{
    color: white;
    list-style-type: none;
    line-height: 0.7;
  }

  .menu_items a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto-Bold';
    font-size: 4.583333333333333vw;
  }

  .menu_items hr {
    width: 85vw;
  }

  .active_menu_items {
    color: #00FF70;
    position: absolute;
  }

  .active_menu_item_img_background {
    position: absolute;
    background: white;
    margin-top: 1vw;
    width: 46.16vw;
    height: 26.162387231089525vw;
    transform: rotate(-8.07deg);
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 40.5vw;
  }

  .active_menu_item_img {
    width: 39.791667vw;
    position: absolute;
    top: -10vw;
    left: 40px;
    transform: rotate(4.19deg);
  }

  .active_menu_item_img_background span{
    font-size: 2.481076388888889vw;
    font-weight: 600;
    margin-right: 35px;
    margin-bottom: 20px;
    font-family: 'Roboto-BoldItalic';
    font-style: italic;
  }

  .arrow_svg {
    display: flex;
    justify-content: end;
    margin-right: 90px;
    margin-top: -73px;
    align-items: center;
  }

  .arrow_svg svg {
    width: 8.88888888888889vw;
  }

  .social_text {
    max-width: 1224px;
    width: 86%;
    display: flex;
    margin: 3vw auto 1vw auto;
  }

  .we_have_text {
    color: #bdbdbd;
    font-size: 1.6666666666666667vw;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    font-family: 'Roboto-Medium';
    padding-bottom: 40px;
  }

  .social_svg {
    display: grid;
    justify-content: end;
    align-items: center;
  }

  .social_svg svg {
    width: 13.4vw;
  }

  .footer_menu {
    font-family: 'Roboto-Bold';
    font-size: 1.1111111111111112vw;
    display: flex;
    justify-content: center;
    color: black;
    background: #00FF70;
    align-items: center;
    height: 3.5vw;
    font-weight: 800;
    line-height: 19px;
  }

  .menu_items svg {
    min-width: 100%;
    height: 1px;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
}
