@media screen and (min-width: 1080px) {
  #menu {
    box-sizing: border-box;
    background: #1A1A1A;
    display: none;
    transform: translateY(-100%);
    transition-timing-function: ease-in;
    transition: 20s;
    width: 100%;
  }

  #header_menu {
    height: 106px;
    max-width: 1440px;
    width: 84.72222222222221vw;
    display: flex;
    margin: 0 auto;
  }

  .brand_logo {
    align-self: center;
  }

  .brand_logo svg {
    max-width: 136px;
    width: 9.444444444444445vw;
    padding-top: 1vw
  }

  .brand_name {
    width: 100%;
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    color: #00FF70;
    margin: auto 0 auto 1.1805555555555556vw;
    font-style: normal;
    line-height: 44px;
  }

  .header_menu_close_button {
    align-self: center;
    cursor: pointer;
  }

  .header_menu_close_button svg {
    width: 30px;
    height: 30px;
  }

  .star_svg {
    display: flex;
    max-width: 1440px;
    width: 84.72222222222221vw;
    margin: 10px auto 10px auto;
  }

  .star_svg svg {
    width: 82px;
  }

  .menu_items {
    display: flex;
    margin: -20px auto auto auto;
    max-width: 1440px;
    width: 84.72222222222221vw;
    top: 0;
  }

  .menu_items ul {
    width: 100%;
    padding: 0;
  }

  .menu_items ul li{
    color: white;
    list-style-type: none;
    line-height: 0.7;
  }

  .menu_items a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto-Bold';
    font-size: 66px;
  }

  .menu_items hr {
    max-width: 1440px;
    width: 85vw;
  }

  .active_menu_items {
    color: #00FF70;
    position: absolute;
  }

  .active_menu_item_img_background {
    background: white;
    max-width: 711px;
    width: 48.16vw;
    max-height: 377px;
    height: 26.162387231089525vw;
    display: flex;
    transform: rotate(-8.07deg);
  }

  .active_menu_item_img {
    position: absolute;
    max-width: 645px;
    width: 44.79166666666667vw;
    transform: rotate(4.19deg);
    top: -187px;
  }

  .active_menu_item_img_background span{
    position: absolute;
    right: 0;
    font-size: 36px;
    font-weight: 600;
    margin-right: 30px;
    margin-bottom: 15px;
    font-family: 'Roboto-BoldItalic';
    font-style: italic;
    align-self: flex-end;
  }

  .arrow_svg {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 1480px;
    width: 84.72222222222221vw;
    margin: -80px auto auto auto;
  }

  .social_text {
    max-width: 1440px;
    width: 84.72222222222221vw;
    display: flex;
    margin: 45px auto 1vw auto;
    padding-bottom: 40px;
  }

  .we_have_text {
    color: #bdbdbd;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    font-family: 'Roboto-Medium';
  }

  .social_svg {
    display: grid;
    justify-content: end;
    align-items: center;
  }

  .social_svg svg {
    width: 13.4vw;
  }

  .footer_menu {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto-Bold';
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #1A1A1A;
    background: #00FF70;
    align-items: center;
    height: 56px;
    font-weight: 800;
    line-height: 19px;
  }

  .menu_items svg {
    min-width: 100%;
    height: 1px;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1440px) {
  .active_menu_item_img {
    top: -12.986111111111112vw;
  }
}

