#menu {
  background: black;
}

#header_menu {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.brand_logo {
  padding-top: 40px;
}

.brand_logo svg {
  width: 9vw;
}

.brand_name {
  color: #00FF70;
  margin: auto auto auto 34px;
  padding-top: 20px;
}

.star_svg {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  width: 30%;
}

.star_svg svg {
  align-items: end;
  width: 5.5vw;
}

.menu_items {
  display: flex;
  margin: -20px auto auto auto;
  width: 80%;
  top: 0;
}

.menu_items ul {
  width: 100%;
  padding: 0;
}

.menu_items ul li{
  color: white;
  font-size: 4.3vw;
  list-style-type: none;
  line-height: 0.7;
}

.menu_items a {
  color: white;
  text-decoration: none;
}

.menu_items hr {
  width: 200%;
}

.active_menu_items {
  color: #00FF70;
  position: absolute;
}

.active_menu_item_img_background {
  background: white;
  min-width: 45vw;
  height: 25vw;
  transform: rotate(-8.07deg);
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: -68px;
}

.active_menu_item_img {
  width: 40vw;
  position: absolute;
  top: -7.5vw;
}

.active_menu_item_img_background span{
  transform: rotate(8.07deg);
  font-size: 2.4vw;
  font-weight: bold;
  margin-right: 55px;
  margin-bottom: -16px;
}

.arrow_svg {
  display: flex;
  justify-content: end;
  margin-right: 8%;
  margin-top: -73px;
  align-items: center;
}

.arrow_svg svg {
   width: 8.4vw;
}

.social_text {
  width: 80%;
  display: flex;
  margin: 3vw auto 1vw auto;
}

.we_have_text {
  color: white;
  color: #bdbdbd;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  width: 50%;
}

.social_svg {
  display: grid;
  justify-content: end;
  width: 50%;
  align-items: center;
}

.social_svg svg {
  width: 13.4vw;
}

.footer_menu {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  background: #00FF70;
  align-items: center;
  height: 3.5vw;
}
